---
INEO Maven Plugin
---
Yegor Bugayenko
---
2024-01-19
---

INEO Maven Plugin

This {{{http://github.com/objectionary/ineo-maven-plugin}README}}
documentation explains it in details.

Use it like this:

+--
<build>
    <plugins>
        <plugin>
            <groupId>org.eolang</groupId>
            <artifactId>ineo-maven-plugin</artifactId>
            <version>0.1.3</version>
            <executions>
                <execution>
                    <id>fuse</id>
                    <phase>generate-sources</phase>
                    <goals>
                        <goal>fuse</goal>
                    </goals>
                </execution>
            </executions>
        </plugin>
    </plugins>
</build>
+--

If any questions, submit a {{{http://github.com/objectionary/ineo-maven-plugin/issues}GitHub issue}}.